<style>body{background: #f7f2f266;}</style>
<style>body{background: #f7f2f266;}</style>

<div class="container my-5  text-center">
  <%- include('../custom/flash') %>
    <h1>Change Password</h1>
    <div class="d-flex justify-content-center mt-5">
    <form style="width:32rem;" action="/user/change_password" method="post">
      
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" name="password" id="password"
            class="form-control <%= typeof error.find((e)=>{return e.param == "password"}) !="undefined"
            ? "is-invalid" :"" %>"
          value="<%= typeof password !='undefined' ? password : '' %>" />
            <label class="form-label" for="password">Password</label>
            <% error.forEach(element=> { %>
              <div class="invalid-feedback">
                <%= element.param=="password" ? element.msg:"" %>
              </div>
              <% }) %>
        </div>

        <div class="form-outline mb-4">
          <input type="password" name="newPassword" id="newPassword"  
            class="form-control <%= typeof error.find((e)=>{return e.param == "newPassword"}) !="undefined"
            ? "is-invalid" :"" %> "
          value="<%= typeof newPassword !='undefined' ? newPassword : '' %>" />
            <label class="form-label" for="confirmPass">New password</label>
            <% error.forEach(element=> { %>
              <div class="invalid-feedback">
                <%= element.param=="newPassword" ? element.msg:"" %>
              </div>
              <% }) %>
        </div>

          <div class="form-outline mb-4">
            <input type="password" name="password2" id="confirmPass"
              class="form-control <%= typeof error.find((e)=>{return e.param == "password2"}) !="undefined"
              ? "is-invalid" :"" %> "
            value="<%= typeof password2 !='undefined' ? password2 : '' %>" />
              <label class="form-label" for="confirmPass">Confirm New password</label>
              <% error.forEach(element=> { %>
                <div class="invalid-feedback">
                  <%= element.param=="password2" ? element.msg:"" %>
                </div>
                <% }) %>
          </div>

      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary ">Change Password</button>
      </form>
      </div>
</div>