<br>
<div class="container text-center">
  <%- include('../custom/flash') %>

    <form action="/user/setting" method="post">
    <div class="row">
        <div class="col-md-4 ">
            <div class="d-flex align-items-center flex-column">
                <img src="/images/default.jpg" alt="profile pic" width="200" height="200" class="rounded-circle hover-shadow" />
                <label for="picInput">
                <i class="fas fa-plus-circle fs-1" role="button" style="position: relative;top:-58px;left:-62px;"></i>
            </label>
                <input type="file" name="" id="picInput" class="d-none">
            </div>
        </div>
        <div class="col-md-8 mt-4">
            <div class="form-floating">
                <input name="name" type="text" id="name" class="form-control border-0 border-bottom outline-none rounded-0 shadow-none <%= typeof error.find((e)=>{return e.param == "name"}) !="undefined" ? "is-invalid"
                :"" %>" placeholder="Name" value="<%=currentUser.name%>">
                <label  for="name">Name</label>
                 <% error.forEach(element=> { %>
              <div class="invalid-feedback">
                <%= element.param=="name" ? element.msg:"" %>
              </div>
              <% }) %>
            </div>
            <div class="form-floating mt-4">
                <input name="email" type="email" id="email" class="form-control border-0 border-bottom outline-none rounded-0 shadow-none <%= typeof error.find((e)=>{return e.param == "email"}) !="undefined" ? "is-invalid"
                :"" %>" placeholder="Email" value="<%= currentUser.email %>">
                <label  for="email">Email</label>
                <% error.forEach(element=> { %>
                    <div class="invalid-feedback">
                      <%= element.param=="email" ? element.msg:"" %>
                    </div>
                    <% }) %>
            </div>
            <div class="form-floating mt-4">
                <input type="password" name="password" id="password" class="form-control border-0 border-bottom outline-none rounded-0 shadow-none <%= typeof error.find((e)=>{return e.param == "password"}) !="undefined"
                ? "is-invalid" :"" %>" placeholder="password" required/>
                <label for="password">Password</label>
                <% error.forEach(element=> { %>
                    <div class="invalid-feedback">
                      <%= element.param=="password" ? element.msg:"" %>
                    </div>
                    <% }) %>
              </div>
        </div>
        <div class="form-floating mt-2">
            <textarea name="about" id="about"  class="form-control border-0 border-bottom rounded-0 outline-none fs-4 shadow-none <%= typeof error.find((e)=>{return e.param == "about"}) !="undefined"
                ? "is-invalid" :"" %>" style="height: 14rem;"
            placeholder="Tell about yourself..." ><%= currentUser.about %></textarea>
            <label class="ps-4 fs-5" for="about">Tell about yourself...</label>
            <% error.forEach(element=> { %>
                <div class="invalid-feedback">
                  <%= element.param=="about" ? element.msg:"" %>
                </div>
                <% }) %>
        </div>
    </div>
    <button type="submit" class="btn btn-dark m-4">Update</button>
    <!-- <button type="button" class="btn btn-dark m-4">Reset</button> -->
</form>

</div>
